.item {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    margin-bottom: 10px;
    width: 360px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.54);
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 15px;
}

.offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-right: 15px;
}

.name {
    font-size: 25px;
    font-weight: 600;
    margin-left: 15px;
}